#start-btn {
    position: absolute;
    left: 850px;
    bottom: 390px;
    width: 180px;
    text-align: center;
    font-size: 16px;
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    background-image: linear-gradient(to top, #c471f5 0%, #fa71cd 100%);
    transition: .5s;
    background-size: 200%;
}

#start-btn:hover {
    background-position: right center;
}

#rightkey {
    background-image: linear-gradient(to top, #ffff00, #ffd700 100%);
    border-radius: 4px;
    width: 30px;
    height: 30px;
    margin-bottom: 100px;

}

#leftkey {
    background-image: linear-gradient(to top, #ffff00, #ffd700 100%);
    border-radius: 4px;
    width: 30px;
    height: 30px;
    margin-bottom: 100px;
}

#underkey {
    background-image: linear-gradient(to top, #ffff00, #ffd700 100%);
    border-radius: 4px;
    width: 30px;
    height: 30px;
    margin-bottom: 100px;
}

#button-set {
    position: relative;
    left: 820px;
    bottom: 80px;
}

#rotation {
    background-image: linear-gradient(to top, #ffff00, #ffd700 100%);
    border-radius: 4px;
    position: relative;
    bottom: 30px;
    left: 70px;
}

@media only screen and (max-width: 600px) {
    #tetris {
        width: 200px;
        height: 350px;
        margin-left: 60px;
    }

    #start-btn {
        width: 140px;
        height: 100px;
        font-size: 30px;
        top: 100px;
        left: 280px;
    }

    #button-set {
        width: 200px;
        height: 300px;
        left: 260px;
    }

}